<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>cake</string>
		<key>title</key>
		<string>吃饭</string>
	</dict>
	<dict>
		<key>name</key>
		<string>egg</string>
		<key>title</key>
		<string>早餐</string>
	</dict>
	<dict>
		<key>name</key>
		<string>milk</string>
		<key>title</key>
		<string>牛奶</string>
	</dict>
	<dict>
		<key>name</key>
		<string>rili</string>
		<key>title</key>
		<string>日历</string>
	</dict>
	<dict>
		<key>name</key>
		<string>日历</string>
		<key>title</key>
		<string>日历</string>
	</dict>
	<dict>
		<key>name</key>
		<string>时间</string>
		<key>title</key>
		<string>时间</string>
	</dict>
	<dict>
		<key>name</key>
		<string>萝卜</string>
		<key>title</key>
		<string>萝卜</string>
	</dict>
	<dict>
		<key>name</key>
		<string>酒杯</string>
		<key>title</key>
		<string>酒杯</string>
	</dict>
</array>
</plist>
