<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Img</key>
		<string>new_feature_1.png</string>
		<key>title</key>
		<string>帅哥一枚</string>
		<key>desc</key>
		<string>帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊</string>
	</dict>
	<dict>
		<key>Img</key>
		<string>new_feature_2.png</string>
		<key>title</key>
		<string>ddawdwaw</string>
		<key>desc</key>
		<string>发达我的</string>
	</dict>
	<dict>
		<key>Img</key>
		<string>new_feature_3.png</string>
		<key>title</key>
		<string>法萨芬法案我</string>
		<key>desc</key>
		<string>啊发发呢个发热改革深入各施工</string>
	</dict>
	<dict>
		<key>Img</key>
		<string>new_feature_4.png</string>
		<key>title</key>
		<string>爱上风如个人</string>
		<key>desc</key>
		<string>矮个人是个人共同的火热更多个股</string>
	</dict>
	<dict>
		<key>Img</key>
		<string>new_feature_5.png</string>
		<key>title</key>
		<string>达瓦大大</string>
		<key>desc</key>
		<string>大风歌日公告方式是否</string>
	</dict>
	<dict>
		<key>Img</key>
		<string>new_feature_1.png</string>
		<key>title</key>
		<string>帅哥一枚</string>
		<key>desc</key>
		<string>帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊</string>
	</dict>
	<dict>
		<key>Img</key>
		<string>new_feature_1.png</string>
		<key>title</key>
		<string>帅哥一枚</string>
		<key>desc</key>
		<string>帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊</string>
	</dict>
	<dict>
		<key>Img</key>
		<string>new_feature_1.png</string>
		<key>title</key>
		<string>帅哥一枚</string>
		<key>desc</key>
		<string>帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊</string>
	</dict>
	<dict>
		<key>Img</key>
		<string>new_feature_1.png</string>
		<key>title</key>
		<string>帅哥一枚</string>
		<key>desc</key>
		<string>帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊</string>
	</dict>
	<dict>
		<key>Img</key>
		<string>new_feature_1.png</string>
		<key>title</key>
		<string>帅哥一枚</string>
		<key>desc</key>
		<string>帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊帅哥啊</string>
	</dict>
</array>
</plist>
